.manageGuestsButtons {
    position: relative;
}

.manageGuestsButtons > form {
    display: inline;
    position: relative;
}


.manageGuestsButtons > form > input {
    width: 5rem;
    flex: 1;
    font-size: 1rem;
    border-radius: 0;
    border-style: hidden;
    background-color: #efefef;
    height: 100%;
}

.manageGuestsButtons > form > input:focus-visible {
    border-radius: 0;
    outline: 0;
}

.resetButton {
    margin-right: 1rem;
    background-color: var(--reset-button-color);
}

.resetButton:hover {
    background-color: black;
}