.roomTypeContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.roomCategory {
    font-size: 1.2rem;
    flex: 1;
    text-transform: capitalize;
}

.numberOfRooms {
    text-align: center;
    font-size: 1.2rem;
    flex: 1;
}

.roomButtonsContainer {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*.roomButtonsContainer > button {*/
/*    min-width: 2rem;*/
/*}*/
