.guests {
    display: flex;
    width: 100%;
    gap: var(--guest-card-gap);
    flex-wrap: wrap;
}

.guest {
    display: flex;
    min-width: var(--guest-card-dimension);
    height: var(--guest-card-dimension);
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.1s;
}

.guest:hover {
    background-color: var(--remove-guest-background);
}
