.guests {
    display: flex;
    width: 100%;
    gap: var(--guest-card-gap);
    flex-wrap: wrap;
    justify-content: center;
}

.guest {
    overflow: hidden;
    position: relative;
    display: flex;
    min-width: var(--guest-card-dimension);
    height: var(--guest-card-dimension);
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.1s;
}

.guest:hover {
    background-color: var(--remove-guest-background);
}

.guestCornerMarkBackground {
    position: absolute;
    top: -25%;
    right: -25%;
    width: 50%;
    height: 50%;
    background-color: var(--color-primary);
    rotate: 45deg;
}

.guestCornerMarkSign {
    position: absolute;
    top: -1%;
    right: 4%;
    color: white;
    font-size: 0.8rem;
}
