@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

button {
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid black;
  padding: 6px;
  background-color: var(--light-gray);
}

input {
  text-align: center;
}

:root {
  --accent-color: #00b1ff;
  --light-gray: #d1d1d1;
  --add-guest-background: var(--accent-color);
  --remove-guest-background: #ff7373;
  --guest-card-gap: .3rem;
  --guest-card-dimension: 6rem;

}


