@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

button {
  cursor: pointer;
  background-color: var(--color-primary);
  display: inline-block;
  border: none;
  padding: 0.2rem 1rem;
  margin: 0;
  text-decoration: none;
  min-width: 3rem;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  text-align: center;
  transition: background 250ms ease-in-out,
  transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover {
  filter: brightness(1.1);
}

input {
  text-align: center;
}

:root {
  --color-primary:#4d6a83;
  --reset-button-color: #9d9d9d;
  --remove-guest-background: #f15d5d;
  --guest-card-gap: .3rem;
  --guest-card-dimension: 5rem;

}


